@using net_il_mio_fotoalbum.Data
@model PhotoFormModel
<div class="container pt-5">
    <form asp-controller="Photo" asp-action="Create" method="post" enctype="multipart/form-data">
        @Html.AntiForgeryToken()
        <div class="mb-3">
            <strong>Titolo:</strong>
            <input asp-for="@Model.Photo.Title" class="d-block w-100 form-control" />
            <span asp-validation-for="@Model.Photo.Title" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <strong>Descrizione:</strong>
            <input asp-for="@Model.Photo.Description" class="d-block w-100 form-control" />
            <span asp-validation-for="@Model.Photo.Description" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <strong>Immagine:</strong>
            <img src="@Model.Photo.ImgSrc" alt="" />
            <input type="file" asp-for="ImageFormFile" class="d-block w-100 form-control" />
            <span asp-validation-for="ImageFormFile" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <strong>Categorie:</strong>
            @for (int i = 0; i < Model.Categories.Count; i++)
            {
                <div>
                    <input type="checkbox" name="SelectedCategories" value="@Model.Categories[i].Value"
                    @(Model.SelectedCategories.Contains(Model.Categories[i].Value) ? "checked" : "") />
                    @Model.Categories[i].Text
                </div>
            }
        </div>
        <div class="mb-3">
            <strong>Visibilità:</strong>
            <select asp-for="@Model.Photo.IsVisible" class="form-control" rows="10" class="d-block w-100">
                <option value="true" selected>Pubblica</option>
                <option value="false">Privata</option>
            </select>
        </div>
        <div class="text-end d-flex justify-content-end">
            <input type="submit" class="btn btn-small btn-light me-2" value="Inserisci">
            <button class="btn btn-small btn-light">
                <a href="@Url.Action("Index")"> Indietro </a>
            </button>
        </div>
    </form>
</div>