<!-- INDEX -->
@using net_il_mio_fotoalbum.Data
@model List<Photo>

<div class="text-center pt-5 pb-4">
    <h2 class="text-uppercase fw-bold">Galleria</h2>
</div>
<div class="container pt-2" id="main-content">
   <div class="row justify-cointent-center">
        @* CARD *@
        @foreach (Photo photo in @Model)
        if (photo.IsVisible)
        {
            <div class="col-md-4 mb-3 d-flex">
                <div class="card photo-card flex-fill position-relative">
                    @if (photo.IsVisible == false)
                    {
                        <span class="badge bg-dark position-absolute private-photo-badge">Privata</span>
                    }
                    <div class="photo-wrapper">
                        <a href="@Url.Action("GetPhoto", "Photo", new { id = photo.Id})">
                            <img src="~/img/@photo.Image" alt="photo.Name" class="photo-img" />
                        </a>
                    </div>
                    <div class="card-body">
                        <h3 class="text-center photo-title py-1">@photo.Title</h3>
                        <p class="text-center my-4">@photo.Description</p>
                        <div class="d-flex justify-content-center gap-1">
                            <span>
                                <a href="@Url.Action("GetPhoto", "Photo", new { id = photo.Id})">
                                    <i class="fa-solid fa-eye show-icon"></i>
                                </a>
                            </span>
                            @if (User.IsInRole("Admin"))
                            {
                                <span>
                                    <a href="@Url.Action("Update", "Photo", new { id = photo.Id})">
                                        <i class="fa-solid fa-pen update-icon"></i>
                                    </a>
                                </span>
                            
                            <div class="delete-pizza-btn">
                                <form asp-controller="Photo" asp-action="Delete" asp-route-id="@photo.Id" method="post">
                                    @Html.AntiForgeryToken()
                                    <button type="submit">
                                        <i class="fa-solid fa-trash delete-icon"></i>
                                    </button>
                                </form>
                            </div>
                            }
                        </div>
                     </div>
                </div>
            </div>
            }
            else
            {
                @if (User.IsInRole("Admin"))
                {
                    <div class="col-md-4 mb-3 d-flex">
                        <div class="card photo-card flex-fill position-relative">
                            @if (photo.IsVisible == false)
                            {
                                <span class="badge bg-dark position-absolute private-photo-badge">Privata</span>
                            }
                            <div class="photo-wrapper">
                                <a href="@Url.Action("GetPhoto", "Photo", new { id = photo.Id})">
                                    <img src="~/img/@photo.Image" alt="photo.Name" class="photo-img" />
                                </a>
                            </div>
                            <div class="card-body">
                                <h3 class="text-center photo-title py-1">@photo.Title</h3>
                                <p class="text-center my-4">@photo.Description</p>
                                <div class="d-flex justify-content-center gap-1">
                                    <span>
                                        <a href="@Url.Action("GetPhoto", "Photo", new { id = photo.Id})">
                                            <i class="fa-solid fa-eye show-icon"></i>
                                        </a>
                                    </span>
                                    @if (User.IsInRole("Admin"))
                                    {
                                        <span>
                                            <a href="@Url.Action("Update", "Photo", new { id = photo.Id})">
                                                <i class="fa-solid fa-pen update-icon"></i>
                                            </a>
                                        </span>

                                        <div class="delete-pizza-btn">
                                            <form asp-controller="Photo" asp-action="Delete" asp-route-id="@photo.Id" method="post">
                                                @Html.AntiForgeryToken()
                                                <button type="submit">
                                                    <i class="fa-solid fa-trash delete-icon"></i>
                                                </button>
                                            </form>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                }
            }
    </div>
    @if (User.IsInRole("Admin"))
    {
        <div class="d-flex justify-content-center mt-5">
            <a href="@Url.Action("Create", "Photo")" class="btn btn-small btn-light text-uppercase fw-bold">Inserisci nuova foto</a>
        </div>
    }
</div>
